/**
   JAASExample.config login configuration file with some
   configurations for a hypothetical distributed system
*/

SimpleLogin
{  simplejaasmodule.SimpleLoginModule required debug=true;
};

KerberosLogin
{  com.sun.security.auth.module.Krb5LoginModule required;
};

BiometricLogin
{  com.csp.jaasmodule.BioLoginModule sufficient;
   com.csp.jaasmodule.JavaCardLoginModule required matchOnCard="true";
};
